<div class="jumbotron">
    <h1><center>Actores.</center></h1>
    <div class="container-fluid">
        <div class="row mb-3">
            @foreach (var cast in Casts)
            {
                <div class="col-md-4">
                    <div class="card flex-md-row mb-4 box-shadow h-md-300">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="card">
                                <img src="@cast.ActorImage" class="card-img-top" alt="No se ha podido cargar la imagen." width="10" height="400">
                                <div class="card-body">
                                    <center><h5 class="card-title">@cast.ActorName</h5></center>
                                    <p class="card-text">@cast.BirthDate</p>
                                    <p class="card-text">@cast.KnowCredits</p>
                                    <p class="card-text">@cast.Nominations</p>
                                    <p class="card-text">@cast.Biography</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@code{
    [Parameter] public List<Cast> Casts{get;set;}
}